* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
  }

  canvas {
    touch-action: none;
  }
  
  body {
    background: #f0f0f0;
  }

  .crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    border: 2px solid white;
    pointer-events: none;
  }

  @media (pointer: coarse) {
    .crosshair {
      display: none;
    }
  }